*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common */
html{
    font-family: Helvetica, Arial, sans-serif;
}
.text-center{
    text-align: center !important;
}
.text-white{
    color: #fff !important;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.pull-right{
    float : right !important
}
#main{

}
.clear{
    clear: both;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding: 0 8px;

}
.col-third{
    width: calc(100%/3);;
}

.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
/* end common */
#header{
    height: 46px;
    background-color:#000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#nav{
    display: inline-block;
}
#nav >li {

    display: inline-block;
}
/* css cho các thẻ ul có chấm tròn là none  */
#nav, .subnav{
    list-style-type: none;
}
#nav li{
    position: relative;
}
#nav >li> a {

    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav li:hover a,
#nav> li:hover >a{
    color: #333;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    /* fixx thêm dòng này , vì nhiều khi trình duyệt nó k có chuẩn thì sao  */
    top:100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

}
#nav .subnav a  {
    color: #000;
    padding:  0 12px;
    line-height:38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-btn{
    float : right;
    padding: 0 21px;;

}
#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}
#header .search-icon{
    font-size: 20px;
    color : #fff;
    line-height: 46px;
}
#slider{
    position: relative;
    margin-top: 46px;
    /*để làm chiều cao của bức ảnh bằng 50% chiều ngang của chính nó 
      */
    padding-top: 50%;;
    background: url('/assets/img/SLIDER/slider1.jpg') top center/cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* chỗ căn giữa này có tới ba cách 
        cách 1 : width : 100%;
        cachs 2: right :0
        left : 0
        vaf cách bêndưới là cách thưs 3

    */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}
#slider .text-description{
    font-size: 15px;
    padding-top: 25px;

}

#content{
    background-color: #fff;
    height: 1200px;

}


#content .content-section{
    width: 800px;
    margin-left:auto ;
    margin-right:auto;
    padding: 64px 0 112px;
    
}
#content .section-heading{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    letter-spacing:4px;

}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    /* margin-bottom: 25px; */
}

#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
}

#content .member-name{
    font-size: 15px;

}
#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius:4px;

}

/* css tour section */
.tour-section{
    background-color:#000;
}
.ticket-list{
    list-style-type: none;
    background-color: #fff;
    margin-top: 40px;
}
.ticket-list li{
    font-size: 15px;
    color :#757575;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd ;
    ;
}
.ticket-list .sold-out{
    background-color: #f44336;
    padding: 3px 4px;
    color : #fff;
    margin-left: 16px;
}

.ticket-list .quantity{
    float : right;
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    text-align: center;
    line-height: 24px;
    color : #fff;

}

.place-list{
    margin-top: 32px;

}


.place-img:hover {
    opacity: 0.6;
}
.place-img{
    width: 100%;;
    display: block;
}


.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}


.place-heading{
    font-weight:500;
    font-size: 15px;
}


.place-time{
    margin-top: 15px;
    color: #757575;
}


.place-description{
    margin-top: 15px;
    line-height: 1.4;
}

.btn {
    /* lamf cho thẻ a mất gạch chân  */
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 16px;
    ;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;

}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.6s;
}
.modal-header {

    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size:30px;
}


.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    color :#fff;
    opacity: 0.7;
}
.modal-close:hover {
    background-color: #ccc;
    color : #000;
    opacity: 1;
    cursor: pointer;

}

.modal-body {
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-ticket {
    background-color: #009688;
    width: 100%;
    font-size: 15px;
    padding: 14px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
#buy-ticket:hover {
    opacity: 0.9;
    color: #000;
    background-color:#ccc;
}

.modal-foorter{
    padding: 16px;
    text-align: right;
}
.modal-foorter a  {
    color: #2196f3;

}
/* class open mở modal */
.modal.open{
    display: flex;
}
/* css contact form  */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size:18px;
    line-height:1.5;
    
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size:  15px;
    
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc; 
    width: 100%;
    
}

.map-section img {
    width: 100%;
}
/* css footer section  */
#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    font-size: 24px;

}
#footer .socials-list  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 3px;;
}
#footer .socials-list a:hover{
    opacity: 0.5;;
    color : firebrick;

}

/* viết hàm scroll modal chạy từ tren xuống bằng keywword keỷame  */
@keyframes modalFadeIn {
    /* ddi từu đâu đến đâu  */
    from{
        opacity: 0.5;
        transform:translateY(-140px);
    }
    to{
        opacity:  1;
        transform: translateY(0);
    }
}

